.contact-text {
    margin-bottom: 100px;
}
.contact-text .col {
  text-align: center;
  border: 1px solid #A9A9A9;;
  border-radius: 15px;
  margin-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #FDF5E6;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
  min-width: 360px;
  margin-bottom: 20px;
}
.contact-text h3 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}
.contact-text .col p {
    font-weight: 500;
    font-size: 24px;
}
@media (max-width: 568px) {
  .contact-text .col {
       margin-left: 15px;
   }
}