.items .col {
    text-align: center;
    background-color: #FDF5E6;
    border: 1px solid #D3D3D3;
    border-radius: 15px;
    padding-top: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.items li {
    margin-bottom: 5px;
    text-align: left;
    padding: 0 30px;
  }
  .items li:last-child {
    margin-bottom: 30px;
  }
 .items .btn{
    margin-top: auto;
    padding: 10px 30px;
  } 
  .text-img h3 {
    padding-top: 50px;
    margin-bottom: 30px;
  }
  .text-img p {
    text-align: left;
    padding: 10px 30px;
    line-height: 30px;
  }
  .items .col {
    min-width: 400px;
  }
  @media (max-width: 568px) {
    .items .col {
         margin-left: 15px;
     }
 }